@page "/Api/Reservas"
@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http

<h3>lista de reservas ralizadas</h3>
<table>

   <tr>
       <th>Fecha y hora de la reserva</th>
       <th>Duración del alquiler</th>
       <th>Monto</th>
       <th>Método de pago</th>
       <th>Estado de la reserva</th>
   </tr>

</table>

@code {

}
